<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <!-- POST method because we are sending data to the flask server -->
        Username:
        <input type="text" name="username" id="" placeholder="Enter your username:">
        Password:
        <input type="password" name="password" id="" placeholder="Enter your password:">
        <button type="submit" value="login"></button>
    </form>
</body>
</html>